hr.hr1 {
    border-top: 1px solid black;
    width: 50%;
    margin: 0 auto;
}

.alt_bolum {
    position: relative;
    bottom: 0px;
    left: 0px;
    padding-bottom: 0px;
    align-self: flex-end;
    width: 100%;
    height: 75px;
}

table {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: larger;
    border-collapse: collapse;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
    overflow-x: auto;
}

td,
th {
    border: 5px solid #343434;
    text-align: left;
    padding: 10px;
}

.hakkimda {
    font-size: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.loginform {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
    min-height: 100%;
}

#formIcerik {
    border-radius: 10px 10px 10px 10px;
    background: #343a40;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    text-align: center;
}

#ulucami1 {
    width: 70%;
    height: 80%;
}

#ulucami2 {
    width: 70%;
    height: 80%;
}

#ulucami3 {
    width: 70%;
    height: 80%;
}

#sl1 {
    width: 70%;
    height: 40%;
}

#sl2 {
    width: 70%;
    height: 40%;
}

#sl3 {
    width: 70%;
    height: 40%;
}

body {
    padding-bottom: 0px;
    padding-top: 50px;
    min-height: 100vh;
    flex-direction: column;
    display: grid;
    height: fit-content;

}

textarea {
    width: 300px;
    height: 100px;
}

.d-block {
    height: 500px;
    width: 100%;
}

.sl1content {
    padding-top: 40px;
}

.apigrup {
    padding-top: 50px;
}

#flm {
    width: 70%;
    height: 80%;
}

#mtb {
    width: 70%;
    height: 80%;
}

#fish {
    width: 70%;
    height: 80%;
}

.slidercapt {
    -webkit-text-stroke: 1px black;
}

.hobi{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(135, 135, 135);   
}

.formiletisim{
    padding-bottom: 50px;
    align-items: center;
}

.mesaj{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(135, 135, 135); ;
}

.cTablo{
    padding-bottom: 50px;
}