hr.hr1
{
    border-top: 1px solid black;
    width: 50%;
    margin: 0 auto;
}

.alt_bolum
{
    position:relative;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 80px;
}
table 
{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: larger;
    border-collapse: collapse;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
    overflow-x: auto;
}
  
td, th
{
    border: 5px solid #343434;
    text-align: left;
    padding: 10px;
}
.hakkimda
{
    font-size: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.loginform
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
    min-height: 100%;
}
#formIcerik
{
    border-radius: 10px 10px 10px 10px;
    background: #343a40;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    text-align: center;
}
#ulucami1
{
    width: 70%;
    height: 80%;
}
#ulucami2
{
    width: 70%;
    height: 80%;
}
#ulucami3
{
    width: 70%;
    height: 80%;
}
#sl1
{
    width: 70%;
    height: 40%;
}
#sl2
{
    width: 70%;
    height: 40%;
}

#sl3
{
    width: 70%;
    height: 40%;
}
body {
    padding-bottom: 120px;
    padding-top: 50px;
}
textarea
{
    width: 300px;
    height: 100px;
}